<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Assistência Social</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--li class="active"><a href="#">Início <span class="sr-only">(current)</span></a></li-->
                    <li class="active">@Html.ActionLink("Início", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Beneficiário <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Novo *", "Create", "Beneficiario")</li>
                            <li>@Html.ActionLink("Listar", "Index", "Beneficiario")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Dependente", "Index", "Dependente")</li>
                            <li>@Html.ActionLink("Filiacao", "Index", "Filiacao")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Entidade Social", "Index", "EntidadeSocial")</li>
                    <li>@Html.ActionLink("Tipo de Assistência", "Index", "TipoDeAssistencia")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nome do Beneficiário">
                    </div>
                    <button type="submit" class="btn btn-default">Procurar</button>
                </form>
                @Html.Partial("_LoginPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    @RenderSection("featured", required: false)

    <div class="container">
        @RenderBody()

        <hr>

        <footer>
            <p>&copy; Paróquia Santíssima Trindade @DateTime.Now.Year</p>
        </footer>

    </div>
    <!-- /container -->

    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
