@model Mitra.AssistenciaSocial.UI.Web.Models.Beneficiario

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="#">Mitra</a></li>
    <li><a href="@Url.Action("Index")">Beneficiário</a></li>
    <li class="active">Novo</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <h2>1. Identificação do Beneficiário</h2>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome)
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.DataDeNascimento)
                    @Html.TextBoxFor(model => model.DataDeNascimento, new { @class = "form-control date", @placeholder = "00/00/0000" })
                    @Html.ValidationMessageFor(model => model.DataDeNascimento)
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EstadoCivil)
                    @Html.DropDownList("EstadoCivil", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EstadoCivil)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.GrauDeInstrucao)
                    @Html.DropDownList("GrauDeInstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GrauDeInstrucao)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Naturalidade)
                    @Html.TextBoxFor(model => model.Naturalidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Naturalidade)
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cor)
                    @Html.DropDownList("Cor", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cor)
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Sexo)
                    @Html.DropDownList("Sexo", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Sexo)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CPF)
                    @Html.TextBoxFor(model => model.CPF, new { @class = "form-control cpf", @placeholder = "000.000.000-00" })
                    @Html.ValidationMessageFor(model => model.CPF)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.RG)
                    @Html.TextBoxFor(model => model.RG, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RG)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Telefone)
                    @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control phone_with_ddd", @placeholder = "(00) 0000-0000" })
                    @Html.ValidationMessageFor(model => model.Telefone)
                </div>
            </div>

        </div>

        <hr />

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco)
                    @Html.TextBoxFor(model => model.Endereco, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Bairro)
                    @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Bairro)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cidade)
                    @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cidade)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Estado)
                    @Html.DropDownList("Estado", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Estado)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PontoDeFerencia)
                    @Html.TextBoxFor(model => model.PontoDeFerencia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PontoDeFerencia)
                </div>
            </div>

        </div>

        <hr />

        <div class="row">

            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.NomeDoResponsavel)
                    @Html.TextBoxFor(model => model.NomeDoResponsavel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NomeDoResponsavel)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.TelefoneDoResponsavel)
                    @Html.TextBoxFor(model => model.TelefoneDoResponsavel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TelefoneDoResponsavel)
                </div>
            </div>

        </div>

        <h3>1.1. Filiação</h3>

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Filiacaos.FirstOrDefault().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filiacaos.FirstOrDefault().DataDeNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filiacaos.FirstOrDefault().Parentesco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filiacaos.FirstOrDefault().EstadoCivil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filiacaos.FirstOrDefault().GrauDeInstrucao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filiacaos.FirstOrDefault().Profissao)
                </th>
            </tr>

            @foreach (var item in Model.Filiacaos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parentesco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoCivil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrauDeInstrucao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profissao)
                    </td>
                </tr>
            }

        </table>

        <h2>2. Informações Sobre a Família (pessoas que vivem na mesma casa (dependentes))</h2>

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Dependentes.FirstOrDefault().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dependentes.FirstOrDefault().DataDeNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dependentes.FirstOrDefault().Parentesco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dependentes.FirstOrDefault().EstadoCivil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dependentes.FirstOrDefault().GrauDeInstrucao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dependentes.FirstOrDefault().Profissao)
                </th>
            </tr>

            @foreach (var item in Model.Dependentes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parentesco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoCivil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrauDeInstrucao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profissao)
                    </td>
                </tr>
            }

        </table>

        <h2>3. Renda Familiar (faixa salarial mensal bruta)</h2>

        <div class="row">

            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.RendaFamiliar)
                    @Html.TextBoxFor(model => model.RendaFamiliar, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RendaFamiliar)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-2">

                <div class="form-group">
                    @Html.LabelFor(model => model.BeneficioDeEntidade)
                    @Html.EditorFor(model => model.BeneficioDeEntidade)
                    @Html.ValidationMessageFor(model => model.BeneficioDeEntidade)
                </div>

            </div>

            <div class="col-md-10">

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoDeBeneficioDaEntidade)
                    @Html.TextBoxFor(model => model.TipoDeBeneficioDaEntidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoDeBeneficioDaEntidade)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.NomeDaEntidade)
                    @Html.TextBoxFor(model => model.NomeDaEntidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NomeDaEntidade)
                </div>

            </div>

        </div>



        <h2>4. Situação Habitacional</h2>

        <div class="row">

            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoDeResidencia)
                    @Html.DropDownList("TipoDeResidencia", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoDeResidencia)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.EspecificarTipoDeResidencia)
                    @Html.TextBoxFor(model => model.EspecificarTipoDeResidencia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EspecificarTipoDeResidencia)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoDeConstrucao)
                    @Html.DropDownList("TipoDeConstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoDeConstrucao)
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.PisoDaConstrucao)
                    @Html.DropDownList("PisoDaConstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PisoDaConstrucao)
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.CoberturaDaConstrucao)
                    @Html.DropDownList("CoberturaDaConstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CoberturaDaConstrucao)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroDeComodosDaConstrucao)
                    @Html.TextBoxFor(model => model.NumeroDeComodosDaConstrucao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NumeroDeComodosDaConstrucao)
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.ComodosDaConstrucao)
                    @Html.TextBoxFor(model => model.ComodosDaConstrucao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ComodosDaConstrucao)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.EsgotoDaConstrucao)
                    @Html.DropDownList("EsgotoDaConstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EsgotoDaConstrucao)
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.AguaDaConstrucao)
                    @Html.DropDownList("AguaDaConstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AguaDaConstrucao)
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.BanheiroDaConstrucao)
                    @Html.DropDownList("BanheiroDaConstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BanheiroDaConstrucao)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.EnergiaEletricaDaConstrucao)
                    @Html.DropDownList("EnergiaEletricaDaConstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EnergiaEletricaDaConstrucao)
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.LixoDaConstrucao)
                    @Html.DropDownList("LixoDaConstrucao", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LixoDaConstrucao)
                </div>

            </div>

        </div>


        <h2>5. Bens da Família</h2>

        <div class="row">

            <div class="col-md-2">

                <div class="form-group">
                    @Html.LabelFor(model => model.PossuiOutrosImoveis)
                    @Html.EditorFor(model => model.PossuiOutrosImoveis)
                    @Html.ValidationMessageFor(model => model.PossuiOutrosImoveis)
                </div>

            </div>

            <div class="col-md-10">

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoDeConstrucaoOutrosImoveis)
                    @Html.DropDownList("TipoDeConstrucaoOutrosImoveis", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoDeConstrucaoOutrosImoveis)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-2">

                <div class="form-group">
                    @Html.LabelFor(model => model.PossuiVeiculo)
                    @Html.EditorFor(model => model.PossuiVeiculo)
                    @Html.ValidationMessageFor(model => model.PossuiVeiculo)
                </div>

            </div>

            <div class="col-md-10">

                <div class="form-group">
                    @Html.LabelFor(model => model.UtilizacaoDoVeiculo)
                    @Html.DropDownList("UtilizacaoDoVeiculo", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UtilizacaoDoVeiculo)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.AnoDoVeiculo)
                    @Html.TextBoxFor(model => model.AnoDoVeiculo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AnoDoVeiculo)
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.ModeloDoVeiculo)
                    @Html.TextBoxFor(model => model.ModeloDoVeiculo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ModeloDoVeiculo)
                </div>

            </div>

        </div>


        <h2>6. Saúde da Família</h2>

        <div class="row">

            <div class="col-md-2">

                <div class="form-group">
                    @Html.LabelFor(model => model.PossuiConvenioMedico)
                    @Html.EditorFor(model => model.PossuiConvenioMedico)
                    @Html.ValidationMessageFor(model => model.PossuiConvenioMedico)
                </div>

            </div>

            <div class="col-md-10">

                <div class="form-group">
                    @Html.LabelFor(model => model.NomeDoConvenioMedico)
                    @Html.TextBoxFor(model => model.NomeDoConvenioMedico, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NomeDoConvenioMedico)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.TratamentoMedico)
                    @Html.TextBoxFor(model => model.TratamentoMedico, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TratamentoMedico)
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.QualTipoDeDoenca)
                    @Html.TextBoxFor(model => model.QualTipoDeDoenca, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.QualTipoDeDoenca)
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.MedicamentoDeUsoContinuo)
                    @Html.TextBoxFor(model => model.MedicamentoDeUsoContinuo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MedicamentoDeUsoContinuo)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.ComoAdquireMedicamentos)
                    @Html.DropDownList("ComoAdquireMedicamentos", null, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ComoAdquireMedicamentos)
                </div>

            </div>

            <div class="col-md-8">

                <div class="form-group">
                    @Html.LabelFor(model => model.EspecificarComoAdquireMedicamentos)
                    @Html.TextBoxFor(model => model.EspecificarComoAdquireMedicamentos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EspecificarComoAdquireMedicamentos)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.InformacoesAdicionais)
                    @Html.TextBoxFor(model => model.InformacoesAdicionais, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InformacoesAdicionais)
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.DataDeCadastro)
                    @Html.TextBoxFor(model => model.DataDeCadastro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DataDeCadastro)
                </div>

            </div>

        </div>


        <input type="submit" value="Salvar" class="btn btn-primary" />

    </fieldset>
}

<div class="float-right">
    @Html.ActionLink("Ir para listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
