@model IEnumerable<Mitra.AssistenciaSocial.UI.Web.Models.Beneficiario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
  <li><a href="#">Mitra</a></li>
  <li class="active">Beneficiário</li>
</ol>

<p>
    @Html.ActionLink("Novo *", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeAssistencia.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntidadeSocial.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naturalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrauDeInstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PontoDeFerencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeDoResponsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneDoResponsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RendaFamiliar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeneficioDeEntidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeBeneficioDaEntidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeDaEntidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeResidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EspecificarTipoDeResidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PisoDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoberturaDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeComodosDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComodosDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsgotoDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AguaDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BanheiroDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnergiaEletricaDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LixoDaConstrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PossuiOutrosImoveis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeConstrucaoOutrosImoveis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PossuiVeiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilizacaoDoVeiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnoDoVeiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloDoVeiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PossuiConvenioMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeDoConvenioMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TratamentoMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualTipoDeDoenca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicamentoDeUsoContinuo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComoAdquireMedicamentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EspecificarComoAdquireMedicamentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InformacoesAdicionais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDeCadastro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeAssistencia.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntidadeSocial.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDeNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naturalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrauDeInstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PontoDeFerencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDoResponsavel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneDoResponsavel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RendaFamiliar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeneficioDeEntidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeBeneficioDaEntidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDaEntidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeResidencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EspecificarTipoDeResidencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PisoDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoberturaDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeComodosDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComodosDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsgotoDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AguaDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BanheiroDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnergiaEletricaDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LixoDaConstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PossuiOutrosImoveis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeConstrucaoOutrosImoveis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PossuiVeiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilizacaoDoVeiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoDoVeiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloDoVeiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PossuiConvenioMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDoConvenioMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TratamentoMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualTipoDeDoenca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicamentoDeUsoContinuo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComoAdquireMedicamentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EspecificarComoAdquireMedicamentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InformacoesAdicionais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDeCadastro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
