@model Mitra.AssistenciaSocial.UI.Web.Models.LoginModel

@{
    ViewBag.Title = "Entrar!";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
    <h2>Use seu usuário para entrar no sistema.</h2>
    <hr />
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            <div class="box-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <!--Html.LabelFor(m => m.RememberMe)--> Manter Logado?
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <input type="submit" value="Entrar" class="btn btn-default" />

        </fieldset>
        
        <br />
        
        <p>
            @Html.ActionLink("Cadastro", "Register"), se ainda não tem um usuário.
        </p>
    }
</section>

<br />

<section class="social" id="socialLoginForm">
    <h2>Use outro serviço para entrar.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
