@model Mitra.AssistenciaSocial.UI.Web.MVC3.Models.Filiacao

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Filiacao</legend>

    <div class="display-label">Parentesco</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parentesco)
    </div>

    <div class="display-label">Beneficiario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Beneficiario.Nome)
    </div>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">EstadoCivil</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoCivil)
    </div>

    <div class="display-label">DataDeNascimento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDeNascimento)
    </div>

    <div class="display-label">GrauDeInstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrauDeInstrucao)
    </div>

    <div class="display-label">LocalDeTrabalho</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocalDeTrabalho)
    </div>

    <div class="display-label">EnderecoDeTrabalho</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnderecoDeTrabalho)
    </div>

    <div class="display-label">Telefone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">Profissao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Profissao)
    </div>

    <div class="display-label">FaixaSalarial</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FaixaSalarial)
    </div>

    <div class="display-label">HorarioDeTrabalho</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HorarioDeTrabalho)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
