@model IEnumerable<Mitra.AssistenciaSocial.UI.Web.MVC3.Models.Filiacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Parentesco
        </th>
        <th>
            Beneficiario
        </th>
        <th>
            Nome
        </th>
        <th>
            EstadoCivil
        </th>
        <th>
            DataDeNascimento
        </th>
        <th>
            GrauDeInstrucao
        </th>
        <th>
            LocalDeTrabalho
        </th>
        <th>
            EnderecoDeTrabalho
        </th>
        <th>
            Telefone
        </th>
        <th>
            Profissao
        </th>
        <th>
            FaixaSalarial
        </th>
        <th>
            HorarioDeTrabalho
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Parentesco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beneficiario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDeNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrauDeInstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalDeTrabalho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoDeTrabalho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaixaSalarial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioDeTrabalho)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
