@model Mitra.AssistenciaSocial.UI.Web.MVC3.Models.Beneficiario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Beneficiario</legend>

    <div class="display-label">TipoDeAssistencia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDeAssistencia.Descricao)
    </div>

    <div class="display-label">EntidadeSocial</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EntidadeSocial.Nome)
    </div>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">CPF</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPF)
    </div>

    <div class="display-label">RG</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RG)
    </div>

    <div class="display-label">DataDeNascimento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDeNascimento)
    </div>

    <div class="display-label">Sexo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo)
    </div>

    <div class="display-label">EstadoCivil</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoCivil)
    </div>

    <div class="display-label">Naturalidade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naturalidade)
    </div>

    <div class="display-label">Cor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cor)
    </div>

    <div class="display-label">GrauDeInstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrauDeInstrucao)
    </div>

    <div class="display-label">Endereco</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>

    <div class="display-label">Bairro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bairro)
    </div>

    <div class="display-label">Cidade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cidade)
    </div>

    <div class="display-label">Estado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">Telefone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">PontoDeFerencia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PontoDeFerencia)
    </div>

    <div class="display-label">NomeDoResponsavel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeDoResponsavel)
    </div>

    <div class="display-label">TelefoneDoResponsavel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefoneDoResponsavel)
    </div>

    <div class="display-label">RendaFamiliar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RendaFamiliar)
    </div>

    <div class="display-label">BeneficioDeEntidade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BeneficioDeEntidade)
    </div>

    <div class="display-label">TipoDeBeneficioDaEntidade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDeBeneficioDaEntidade)
    </div>

    <div class="display-label">NomeDaEntidade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeDaEntidade)
    </div>

    <div class="display-label">TipoDeResidencia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDeResidencia)
    </div>

    <div class="display-label">EspecificarTipoDeResidencia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EspecificarTipoDeResidencia)
    </div>

    <div class="display-label">TipoDeConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDeConstrucao)
    </div>

    <div class="display-label">PisoDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PisoDaConstrucao)
    </div>

    <div class="display-label">CoberturaDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoberturaDaConstrucao)
    </div>

    <div class="display-label">NumeroDeComodosDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroDeComodosDaConstrucao)
    </div>

    <div class="display-label">ComodosDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ComodosDaConstrucao)
    </div>

    <div class="display-label">EsgotoDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EsgotoDaConstrucao)
    </div>

    <div class="display-label">AguaDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AguaDaConstrucao)
    </div>

    <div class="display-label">BanheiroDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BanheiroDaConstrucao)
    </div>

    <div class="display-label">EnergiaEletricaDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnergiaEletricaDaConstrucao)
    </div>

    <div class="display-label">LixoDaConstrucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LixoDaConstrucao)
    </div>

    <div class="display-label">PossuiOutrosImoveis</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PossuiOutrosImoveis)
    </div>

    <div class="display-label">TipoDeConstrucaoOutrosImoveis</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDeConstrucaoOutrosImoveis)
    </div>

    <div class="display-label">PossuiVeiculo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PossuiVeiculo)
    </div>

    <div class="display-label">UtilizacaoDoVeiculo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UtilizacaoDoVeiculo)
    </div>

    <div class="display-label">AnoDoVeiculo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnoDoVeiculo)
    </div>

    <div class="display-label">ModeloDoVeiculo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeloDoVeiculo)
    </div>

    <div class="display-label">PossuiConvenioMedico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PossuiConvenioMedico)
    </div>

    <div class="display-label">NomeDoConvenioMedico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeDoConvenioMedico)
    </div>

    <div class="display-label">TratamentoMedico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TratamentoMedico)
    </div>

    <div class="display-label">QualTipoDeDoenca</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QualTipoDeDoenca)
    </div>

    <div class="display-label">MedicamentoDeUsoContinuo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MedicamentoDeUsoContinuo)
    </div>

    <div class="display-label">ComoAdquireMedicamentos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ComoAdquireMedicamentos)
    </div>

    <div class="display-label">EspecificarComoAdquireMedicamentos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EspecificarComoAdquireMedicamentos)
    </div>

    <div class="display-label">InformacoesAdicionais</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InformacoesAdicionais)
    </div>

    <div class="display-label">DataDeCadastro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDeCadastro)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
