@model Mitra.AssistenciaSocial.UI.Web.Models.Filiacao

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="#">Mitra</a></li>
    <li><a href="@Url.Action("Index")">Filiação</a></li>
    <li class="active">Novo</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Parentesco)
                    @Html.DropDownList("Parentesco", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Parentesco)
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.id_beneficiario, "Beneficiario")
                    @Html.DropDownList("id_beneficiario", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_beneficiario)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome)
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.EstadoCivil)
                    @Html.DropDownList("EstadoCivil", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EstadoCivil)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.DataDeNascimento)
                    @Html.TextBoxFor(model => model.DataDeNascimento, new { @class = "form-control date", @placeholder = "00/00/0000" })
                    @Html.ValidationMessageFor(model => model.DataDeNascimento)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Telefone)
                    @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control phone_with_ddd", @placeholder = "(00) 0000-0000" })
                    @Html.ValidationMessageFor(model => model.Telefone)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.GrauDeInstrucao)
                    @Html.DropDownList("GrauDeInstrucao", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GrauDeInstrucao)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Profissao)
                    @Html.TextBoxFor(model => model.Profissao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Profissao)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.FaixaSalarial)
                    @Html.TextBoxFor(model => model.FaixaSalarial, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FaixaSalarial)
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.LocalDeTrabalho)
                    @Html.TextBoxFor(model => model.LocalDeTrabalho, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocalDeTrabalho)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.EnderecoDeTrabalho)
                    @Html.TextBoxFor(model => model.EnderecoDeTrabalho, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EnderecoDeTrabalho)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.HorarioDeTrabalho)
                    @Html.DropDownList("HorarioDeTrabalho", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HorarioDeTrabalho)
                </div>
            </div>

        </div>

        <input type="submit" value="Salvar" class="btn btn-primary" />

    </fieldset>
}

<div class="float-right">
    @Html.ActionLink("Ir para listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
