@model Mitra.AssistenciaSocial.UI.Web.Models.Dependente

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dependente</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.id_beneficiario, "Beneficiario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("id_beneficiario", String.Empty)
            @Html.ValidationMessageFor(model => model.id_beneficiario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataDeNascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataDeNascimento)
            @Html.ValidationMessageFor(model => model.DataDeNascimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Parentesco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Parentesco)
            @Html.ValidationMessageFor(model => model.Parentesco)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoCivil)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstadoCivil)
            @Html.ValidationMessageFor(model => model.EstadoCivil)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GrauDeInstrucao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GrauDeInstrucao)
            @Html.ValidationMessageFor(model => model.GrauDeInstrucao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Profissao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Profissao)
            @Html.ValidationMessageFor(model => model.Profissao)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
