@model Mitra.AssistenciaSocial.UI.Web.Models.TipoDeAssistencia

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="#">Mitra</a></li>
    <li><a href="@Url.Action("Index")">Tipo de Assistência</a></li>
    <li class="active">Novo</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao)
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>
            </div>

        </div>

        <input type="submit" value="Salvar" class="btn btn-primary" />

    </fieldset>
}

<div class="float-right">
    @Html.ActionLink("Ir para listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
